{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}

<main class="max-w-screen-lg mx-auto py-5 md:py-16 px-4">

<div class="example-wrapper">
    <h1>Mes recherches O' Top</h1>

<div class="container m-5 p-5 ">




<div class="container-fluid" style="color:black">

    <h3>
        Bienvenue sur la plateforme Profilau.Top  <br>Ici, vous pouvez trouver diverses opportunités d'emploi, postuler à celles-ci et gérer vos candidatures.
    </h3><br>
    <p class=" text-lg-6 text-black-200 italic" >
        Veuillez noter que cette plateforme est actuellement en version bêta et ne prend pas encore en charge toutes les fonctionnalités.
    </p>

</div>



</div>

<div class="container">
    <div class="flex flex-wrap gap-5">
    {% if app.user %}
      {% else%}
       <a href="{{'register'}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">S'inscrire</a>
    <a href="{{'login'}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Se connecter</a>
    {% endif %}
 
    </div>
</div>

</div>
</main>
{% endblock %}
