{% extends 'base.html.twig' %}

{% block title %}Hello JobOfferController!
{% endblock %}

{% block body %}
	<main class="max-w-screen-lg mx-auto py-5 md:py-16 px-4">
		<h1>Postuler à une offre
		</h1>

        	<div class="relative max-w-xl border border-solid border-gray-200 rounded-2xl p-4 transition-all duration-500 col-span-12  xl:p-7   lg:col-span-3 md:col-span-6 ">

			<p class="  text-gray-400 mb-2  transition-all duration-500 ">Completer le formulaire relatif à l'offre d'emploi</p>
		
           <div class="form flex flex-row p-5 m-5 ">
            {{form(jobForm)  }}
           </div>
		</div>

	</main>

{% endblock %}
